html,body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }
  /*
  background image styling obtained from bulma template
  */
  .hero.is-info {
    background: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('../images/California-Trail-Carlin-Canyon-Creek.jpg') center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .hero .subtitle {
    padding: 1rem 0;
    line-height: 1.5;
  }
 
  .navbar {
    justify-content: center;
  }
  .navbar-menu {
    justify-content: center;
  }
  .navbar-item {
    justify-content: center;
    display: flex;
  }
  .header {
    display: flex;
    flex-direction: column;
  }
  #page-heading {
    text-align: center;
    font-size: 3.3rem;
    
  }
  #park-name {
    text-align: center;
    font-size: 2.0rem;
  }
  
  .column-card {
      height: auto;
      width: 375px;
     

  }
  .card {
    height: 250px;
    width: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .columns {
    flex-wrap: wrap;
  }
  .card-header  {
    position: sticky;
    top: 0;
    
    background-color: cornsilk;
  }
  .card-footer {
    position: sticky;
    bottom: 0;
  }
  .card-content {
    height: 250px;
    overflow-y: auto;
  }
  .content {
    width: 100%;
  }
  .card-holder {
    
    display: flex;
    
    align-items: center;
    justify-content: center;
  }
  .card-box {
    height: 315px;
  }
  .box-current {
    height: 315px;
  }
  .weather-head {
    background-color: lightskyblue;
    
  }
  .weather-card {
    height:290px;
  }
  .weather-holder {
    margin-top: 30px;
  }
  .foot-clan {
    background-color: black;
    height: 65px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    
   
  }
  @media screen and (min-width: 200px) {

    .navbar-item {
        justify-content: center;
    }
  }

#page-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

#quote-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

#quote:hover {
  font-weight: bold;
  font-style: italic;
}
