.park {
    color: midnightblue;
}
.bar-head {
    background-color: silver;
}
.caption {
    text-align: center;
    font-weight: bolder;
}
.home-link {
    color: midnightblue;
    font-size: 1.5rem;
}
.error {
    font-size: 1.5rem;
    color: red;
}
.park-title {
    text-align: center;
}
.description {
    text-align: center;
}
button {
    width: 100%;
    min-height: 100px;
    border-image: none;
    background-color: silver;
}
.info {
    text-align: center;
    font-weight: bolder;
}
.activities {
    text-align: center;
}
.weather {
    background-color: rgb(195, 199, 204);
    
}