.park {
    color: midnightblue;
}
.bar-head {
    background-color: silver;
}
.caption {
    text-align: center;
}
.home-link {
    color: midnightblue;
}
.error {
    font-size: 1.5rem;
    color: red;
}