body {
    background-color: cornsilk;
}
.intro {
    font-size: 1.5rem;
    font-weight: bold;
}
.park {
    text-decoration: none;
    color:brown;
    font-size: 1.3rem;
    font-weight: bolder;
    
}
.park:hover {
    color:black;
}
.sidebar {
    margin:7px;
}